@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    margin-top: 20px;
}
.Title-Line{
    display: flex;
    justify-content:center ;
}
.Title-Line p{
    font-family: Source Code Pro;
    font-size: 14px;
}
.Bold-Line-Title{
    width: 68vw;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-bottom: 14px;
    padding: 10px;
}
.Bold-Line-Title p{
    margin:0;
    font-family:Source Code Pro;
    font-size: 64px;
    font-weight: bold;
}
.Board-Titles .Inter-font{
    font-family: Inter;
    font-size: 18px;
    color: #CCD0CF;
}
.Input{
    margin-bottom: 40px;
}
.Input input{
    border: none;
    border-radius: 10px;
    background-color: #06141B;
    color: white;
}
.input-style input:focus{
    outline: none;
}
.Input .input-style{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(255, 255, 255, 0.8);}
.Input .input-style button{
    border-radius: 10px;
    padding: 5px 5px;
}
.Phrase{
    font-family: Source Code Pro ;
    font-size: 18px;
    margin-bottom: 40px;
    align-items: center;
}
.Cards{
    width: 68vw;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}
.Cards .card{
   
        flex: 1 1 calc(50% - 10px); /* Adjusts width to take half of the container width minus the gap */
        padding: 20px; /* Example padding */
        box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
        text-align: center; 
        box-shadow: 1px 1px 2px 2px rgba(159, 156, 156, 0.8);
        border-radius: 10px;
        width: 27vw;
}
.Cards .card-black{
        background-color: #06141B;
        color: #FFFFFF;
}
.card-black p{
    font-family: Raleway;
    font-size: 28px;
    font-weight: bold;
}
.Cards .card-white{
    color: #11212D;
    background-color: #FFFFFF;
}
.card-white p{
    font-family: Raleway;
    font-size: 28px;
    font-weight: bold;
}
.Cards .top-banner{
    display: flex;
    justify-content: space-between;
}
.top-banner p{
    font-family: Inter;
    font-size:14px;
}

.top-banner img{
    mix-blend-mode: multiply;

}
.Cards img{
    width: 30px;
    height: 30px;
}
.Button {
    display: flex;
    justify-content: flex-end; /* Aligns content (button) to the left */
    border-radius: 10px;
  }
.Button button{
    cursor: pointer;
}
.Second-Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.9vw;
    background-color:#2C4A52;
    color: black;
    padding: 0px 0px 74px 0px;
    margin-bottom: 30px;
}
.Second-Style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 82vw;
    margin-top: 38px;

}
.Second-Main-First{
    margin-bottom: 25px;
}
.Second-Main-Titles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.Second-Main-Titles p{
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #CCD0CF;
    margin-bottom: 12px;
}
.Second-Main-Titles h3{
    font-size: 28px;
    font-family: Raleway;
    margin: 0;
    text-align: left;
    color: #FFFFFF;
}
.Competences .info-section{
    width: 474px;
}
.Competences .info-section p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #CCD0CF;
}
.Competences .info-section p:nth-child(2){
    font-family: Inter;
    font-size: 18px;
    color: #FFFFFF;
}
.New-Second-Main-Second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 154px;
}
.Second-Main .info-section{
    border: 1px solid #707070;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 10px;
}
.info-section{
    margin-bottom: 25px;
}
.Second-Main .info-section p{
    text-align: center;
}

.Second-Main-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 436px;
    height: 390px;
}
.Second-Main-second .Second-Main-Title{
    margin: 0;
    text-align: left;
}
.Second-Main-Title p{
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #CCD0CF;
}
.Second-Main-second .Second-Main-Paragraph{
    padding: 52px 0px 52px 0px;
}
.Second-Main-second .Second-Main-Paragraph p{
    font-family: Raleway;
    font-size: 28px;
    color: #FFFFFF;
}
.Second-Main-second .footer p{
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;


}
.Second-Main-second .Button{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.Second-Main-second .Button button{
    display: flex;
    justify-content: center;
    width: 15vw;
    padding: 4px 85px;
    border-radius: 10px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
}
hr{
    border: none;
    height: 3px;
    background-color:white;
}
.Third-Main{
    width: 82vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 0px 0px 0px;
}
.Third-Main-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Sub-Third-Main-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82vw;
    margin-bottom: 70px;
}
.Third-Main-Titles{
    width: 68vw;
}

.Third-Main-Titles p{
    font-family: Source Code Pro;
    font-size: 18px;
    text-align: center;
} 
.Third-Main-Titles h2{
    font-family: Libre Franklin;
    font-size: 25px;
    text-align: center;
}
.Third-Main-Style{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 106px;
    margin-top: 70px;
    width: 82vw;
}
.Props{
    width: 33%;
}
.Third-Main-Style .Props-Title p{
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #CCD0CF;
}
.Third-Main-Style .Props-Title h3{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.Third-Main-Style .Props-Content{
    font-size: 12px;
}
.Props-Content p{
    font-family: Inter;
    font-size: 14px;
    color: #FFFFFF;
}
.Board{
    width: 68vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 80px;
    box-shadow: 1px 1px 2px 2px rgba(159, 156, 156, 0.8); 
    border-radius: 10px;
    margin-bottom: 44px;
}
.Board-Titles p,h3{
    text-align: center;
}
.Sub-Board1{
    background-color: #2C4A52;
    padding: 2px 40px ;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
    margin: 0px 0px 44px 0px;
}
.Sub-Board1 .Board-Title{
    margin-top: 10px;
    margin-bottom: 15px;
}
.Sub-Board1 .Board-Title p{
    font-family: Source Code Pro;
    font-size: 18px;
    color: #CCD0CF;
    font-weight: bold;
}
.Sub-Board1 .Board-Title-Bold{
    margin-bottom: 27px;
}
.Sub-Board1 .Board-Title-Bold h3{
    font-size: 22.5px;
    font-family: Libre Franklin;
}
.Sub-Board1 .Board-Content{
    margin-bottom: 66px;
}
.Sub-Board1 .Board-Content p{
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    color: #CCD0CF;
}
.Sub-Board1 .Board-Button{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}
.Board-Button button{
    width: 232px;
    border-radius: 10px;
    font-family: Raleway;
    font-size: 14px;
}
.Sub-Board1 .Board-Title p{
    text-align: center;
}

.Board-Footer p{
    text-align: center;
    font-family: Source Code Pro;
    font-size: 18px;
}
.Fourth-Main {
    width: 68vw;
    display: flex;
    justify-content: space-between; /* Changed to space-between */
    background-color: white;
    color: black;
    padding: 7vh; /* Ensure padding is applied */
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
}
.Fourth-Main .Fourth-Main1{
    margin-right: 150px;
    
}
.Fourth-Main1 {
    width: 37vw;
    padding: 1rem; /* Add padding inside Fourth-Main1 if needed */
}

.Fourth-Main1 .content {
    font-family: Raleway;
    font-size: 35px;
    font-weight: bolder;
}

.Fourth-Main1 p:nth-child(1) {
    font-family: 'Source Code Pro';
    font-size: 18px;
    color: #69818D;
}
.Fourth-Main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fourth-Main input {
    width: 324px;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 7px;
}

.Fourth-Main button {
    width: 324px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 7px;
}
